# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/
venv/
# Created by shao so that the __pycache__ files are not tracked by git. This is to avoid committing unnecessary files to the repository.
__pycache__/
*.pyc
